/* custom styles*/
* {
    margin: 0;
    padding: 0;
}

/* global font-family */
body {
    font-family: "Work Sans", sans-serif;
}

/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* section default styles */
.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.section-description {
    color: #444343;
    line-height: 26px;
}
.text-align{
    text-align: center;
}

/* header styles */
header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner styles */
.banner-area {
    display: flex;
    justify-content: end;
    text-align: right;
    padding: 216px 0 166px;
}

.banner-title {
    width: 525px;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
}

.banner-area>div>.section-description {
    margin-bottom: 32px;
}

/* primary button */
.btn-primary {
    color: #fff;
    border: none;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background: #F15B22;
    border-radius: 5px;
}

/* Main Section Styles */

/* my failures styles */
#my-failure-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    margin: 260px 0 130px;
}

.my-failure-img {
    width: 527px;
    height: 527px;
    background: rgba(241, 91, 34, 0.2);
    border-radius: 50%;
}

.my-failure-img>img {
    position: relative;
    bottom: 196px;
    right: 24px;
}

.my-failure-text-container>.section-title {
    margin-bottom: 24px;
}

.my-failure-text-container>.section-description {
    margin-bottom: 16px;
}

.my-failure-item {
    display: flex;
    gap: 10px;
}

.my-failure-item>.fa-check {
    color: #16d887;
    font-size: 24px;
}

/* my plans style */
.my-plans-area{
    padding-bottom: 130px;
}
.my-plans {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.my-plans-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding: 24px 0 16px;
}