/* custom styles*/
*{
    margin: 0;
    padding: 0;
}

/* global font-family */
body{
    font-family: "Work Sans", sans-serif;
}

/* container */
.container{
    max-width: 1140px;
    margin: 0 auto;
}


