/* custom styles*/
* {
    margin: 0;
    padding: 0;
}

/* global font-family */
body {
    font-family: "Work Sans", sans-serif;
}

/* container */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* section default styles */
.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
}

.section-description {
    color: #444343;
    line-height: 26px;
}

.text-align {
    text-align: center;
}

/* header styles */
header {
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner styles */
.banner-area {
    display: flex;
    justify-content: end;
    text-align: right;
    padding: 216px 0 166px;
}

.banner-title {
    width: 525px;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 24px;
}

.banner-area>div>.section-description {
    margin-bottom: 32px;
}

/* primary button */
.btn-primary {
    color: #fff;
    border: none;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 5px;
    display: inline-block;
}

.banner-btn-bg {
    background: #F15B22;
}

/* Main Section Styles */

/* my failures styles */
#my-failure-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    margin: 260px 0 130px;
}

.my-failure-img {
    width: 527px;
    height: 527px;
    background: rgba(241, 91, 34, 0.2);
    border-radius: 50%;
}

.my-failure-img>img {
    position: relative;
    bottom: 196px;
    right: 24px;
}

.my-failure-text-container>.section-title {
    margin-bottom: 24px;
}

.my-failure-text-container>.section-description {
    margin-bottom: 16px;
}

.my-failure-item {
    display: flex;
    gap: 10px;
}

.my-failure-item>.fa-check {
    color: #16d887;
    font-size: 24px;
}

/* my plans style */
.my-plans-area {
    padding-bottom: 130px;
}

.my-plans {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.my-plans-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding: 24px 0 16px;
}

/* call to action styles */
.call-to-action-area {
    background: linear-gradient(90.00deg, rgb(241, 91, 34), rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    padding: 60px 64px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.call-to-action-area>.section-title {
    color: #fff;
    margin-bottom: 24px;
}

.call-now-btn {
    color: #F15B22;
    background: #fff;
    padding: 20px 36px;
}

/* footer styles */
.footer-area {
    background: #151414;
    padding: 130px 0;
}
.footer-content{
    display: flex;
}
.footer-title {
    color: #f8f8f8;
    margin-bottom: 16px;
}
.footer-social-area{
    width: 50%;
}
.footer-social-area>.section-description {
    color: #fff;
    margin-bottom: 24px;
}

.contact-info {
    color: #fff;
    padding-bottom: 16px;
    line-height: 26px;
}

.social-icon {
    margin-top: 16px;
}

.social-icon>img {
    margin-right: 17px;
}

/* newsletter styles */
.footer-newsletter{
    width: 50%;
    display: flex;
    justify-content: end;
}
.subscribe-title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 30px;
}

input[type="email"] {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background: transparent;
    width: 325px;

}
.subscribe-btn{
    color: #F15B22;
    display: block;
    margin-top: 16px;
}

/* responsive media query styles for small device */
@media screen and (max-width: 576px) {
    .banner-area {
        padding: 80px 50px;
    }
    .banner-area > div, .banner-title{
        width: 85%;
    }
    .banner-title {
        font-size: 28px;
        line-height: normal;
    }
    .btn-primary {
        margin-right: 60px;
    }
    #my-failure-area, .my-plans {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .my-failure-text-container {
        padding: 0 20px;
    }
    .hide, #hide {
        display: none;
    }
}